@import '../assets/styles/variables';

.app {
  min-height: 100vh;
  font-family: $firaFontFamily;
  // composes: baseFontFamily from '../styles/typography.scss'
  background-color: $cello;
}

.contentWrapper {
  height: 100%;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0;
}
